{{>prezentacjaPoczatek }}
    <button onclick="search('doctors')">szukaj</button><br>
    <strong>LEKARZE</strong><br>
    <table>
        <tr>
            <td>ID</td>
            <td>PESEL</td>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Stopień n.</td>
            <td>Specjalizacje</td>
            <td>Przychodnie</td>
            <td>Dodano przez</td>
        </tr>
        {{{table}}}
    </table><br>
    <label id="actionLabel">Dodaj:</label><label id="editedId"></label><br>

    Specjalizacje:<br>
    <select name="specializations" id="specializations">
        {{{specializationsOptions}}}
    </select>
    <button type="button" onclick="select('specializations')">Dodaj specjalizację</button><br>
    <table id = "specializationsTable" class="table-small">
    </table><br>

    Poradnie:<br>
    <select name="clinics" id="clinics">
        {{{clinicsOptions}}}
    </select>
    <button type="button" onclick="select('clinics')">Dodaj poradnię</button><br>
    <table id = "clinicsTable" class="table-small">
    </table><br>

    <form>
        <label for="PESEL">PESEL:</label><br>
        <input type="text" id="pesel" name="PESEL"><br>
        <label for="password">Hasło:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="fname">Imię:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Nazwisko:</label><br>
        <input type="text" id="lname" name="lname"><br>
    </form>

    Stopień naukowy:
    <select name="degree" id="degree">
        {{{degreesOptions}}}
    </select><br>

    <button id="addOrEditButton" type="button" onclick="clickAddOrEdit()">DODAJ</button>
{{>koniec}}

<script src="scripts.js"></script>

<script>
function clickAddOrEdit() {
    addOrEdit(
        'doctors',
        JSON.stringify({
                pesel: document.getElementById('pesel').value,
                fname: document.getElementById('fname').value,
                lname: document.getElementById('lname').value,
                password: document.getElementById('password').value,
                degree: {"short" : document.getElementById('degree').value},
                specializations: getSelectedName('specializations'),
                clinics: getSelectedName('clinics')
            }),
        JSON.stringify({
                id: document.getElementById('editedId').innerText,
                pesel: document.getElementById('pesel').value,
                fname: document.getElementById('fname').value,
                lname: document.getElementById('lname').value,
                password: document.getElementById('password').value,
                degree: {"short" : document.getElementById('degree').value},
                specializations: getSelectedName('specializations'),
                clinics: getSelectedName('clinics')
            })
        );
}

function clickRemove(removedId) {
    remove('doctors', JSON.stringify({
        id: removedId
      }));
}
</script>