{{>prezentacjaPoczatek }}
    <button onclick="search('equipment')">szukaj</button><br>
    <strong>SPRZĘT</strong>
    <table>
        <tr>
            <td>ID</td>
            <td>Nazwa</td>
            <td>Dodano przez</td>
        </tr>
        {{{table}}}
    </table><br>
    <label id="actionLabel">Dodaj:</label><label id="editedId"></label><br>
    <form>
        <label for="name">Nazwa</label><br>
        <input type="text" id="name" name="name"><br>
    </form>
    <button id="addOrEditButton" type="button" onclick="clickAddOrEdit()">DODAJ</button>
{{>koniec}}

<script src="scripts.js"></script>

<script>
function clickAddOrEdit() {
    addOrEdit(
        'equipment',
        JSON.stringify({
                name: document.getElementById('name').value
            }),
        JSON.stringify({
                id: document.getElementById('editedId').innerText,
                name: document.getElementById('name').value
            })
        );
}

function clickRemove(removedId) {
    remove('equipment', JSON.stringify({
        id: removedId
      }));
}
</script>