<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div align="center">
            Pomyślnie wylogowano!
            <button onclick="login()">ZALOGUJ PONOWNIE</button>
        </div>
    </body>

    <script>
    function login() {
        window.location.assign("http://localhost:8082/");
    }
    </script>
</html>