<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <div>
        <div align="center">
            <button type="button" onclick="back()">wróć</button><br>
            <script>
            function back() {
                window.location.assign("http://localhost:8082/panel");
            }
            </script>
            <input type="text" id="search" name="search">